extends wrapper


append body
	.container
		a(href="/test")
			button() go to the created commit list.
		h1= title
		p Welcome to #{title}
		.container
			p #{fetch}
		+alert-info("This is a sample info alert.")
		+navbar("QA Deployment","dropdown_menu")
		+navbar("QA Deployment","dropdown_menu","inverse")
		+navbar("QA Deployment","dropdown_menu")
			+nav_item("/test","active") Spawned List
			+nav_item("") About
			+nav_item("contact.html") Contact
		+navbar("QA Deployment","dropdown_menu")
			+nav_item("index.html","active") Home
			+nav_item("about.html") About
			+nav_item("contact.html") Contact
			+nav_item_dropdown("#")(label="Dropdown")
				+nav_item("#") Action
				+nav_item("#") Another Action
				+nav_item("#") Something else here
				+nav_divider
				+nav_header Nav header
				+nav_item("#") Separated link
				+nav_item("#") One more separated link


