extends wrapper


append body
        .container
            form(action='/deploy')
                .form-group
                    select.form-control(name='commit')
                        - for(i=0; i <testArray.length; i++){
                        option(value=testArray[i].hash)  #{testArray[i].message}
                        -}
                    .checkbox
                        label
                            input(type='checkbox', required)
                            |  Are you sure this is the one you want?
                   // a(href="/deploy?commit=" + testArray[i].hash)
                button.btn.btn-success.btn-lg(type='submit') Submit
