//
   Created by fearfireg on 6/22/2016.

doctype
html
    p you have deployed the version #{commit}.

    a(href="/test")
        button() go back to the already created commit list.
    a(href="http://localhost:3000/")
        button() get a new commit list.