//Created by fearfireg on 6/21/2016.

doctype
html
    button(class= button, onclick=href="/deploy?commit=" + commit) "commit version?" #{commit}
    //-button(href="/deploy?commit=" + commit)"commit version?" #{commit}