//Created by fearfireg on 6/21/2016.

doctype
html
    a(href="/deploy?commit=" + commit)
        button(class= button) "commit version?" #{commit}
    //-button(href="/deploy?commit=" + commit)"commit version?" #{commit}

